/* colors to use
#393738
#EBEBEB
#ebebeb
#7C7D7D
#7c7d7d
#75645C
#75645c
#75746B
#75746b
#3BBAFA
#3bbafa
#BABBBB
#babbbb
#ACA29D
#aca29d
#ADACA4
#adaca4
*/
body {
    font: #FBFBFB;
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
}
.top-navigation-bar {
    background-color: #393738;
    height: 100px;
    width: 100%;
}
.main-navigation-commands {
    font: #FBFBFB;
}
.admin-username-button {
    position: absolute;
    top: 0;
    right: 0;
}
.shares-button
.playlists-button
.personal-videos-button {
    color: inherit;
}
.main-navigation-commands {
    position: fixed;
    bottom: 87%;
    left: 0px;
}
.website-logo {
    position: absolute;
    bottom: 87%;
    right: 0px;
}
.main-interface {
    background-color: #EBEBEB;
}